body{
    text-align: center;
    background:url("./img/background.jpg");
    background-size: 1366px 768px;
}
#keyboard{
    display:inline-block;
    margin-top:100px;
    border-radius: 10px;
    background: rgba(136, 96, 96, 0.2);
    padding: 20px;
}
main>div{
    min-width: 660px;
    margin: 20px
}
.key{
    color:#4D2A21;
    text-align: left;
    box-sizing: border-box;
    display:inline-block;
    background:#639493;
    border: 1px solid rgba(127, 156, 160, 0.884);
    border-radius: 5px;
    width: 50px;
    height: 49px;
    margin: 0 5px;
    font-family: "Helvetica";
    cursor: pointer;
    box-shadow: 0 0 0 1px rgba(127, 156, 160, 0.884), 
    0 0 0 1.5px #8A7059, 0 5px 0 2px #8A7059;
}
.key>span{
    display: block;
    margin-top: 3px;
    padding-left: 5px;
    width: 100%;
}
.key>img{
    margin-top: 10px;
    margin-left: 30px;
    widows: 15px;
    height: 15px;
}
main>span{
    font-size: 10px;
}